* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #98c1d9;
}
hr {
  display: block;
  margin-top: 1.2em;
  margin-left: auto;
  margin-right: auto;
  color: #3d5a80;
  border-style: solid;
  border-width: 1px;
}
.column {
  float: left;
}

.left {
  width: 80%;
}

.right {
  position: sticky;
  top: 0;
  width: 20%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 90%;
  margin: 0 auto;
}
div.cart {
  max-width: 400px;
  width: 95%;
  height: 400px;
  border-radius: 1em;
  color: #FFF;
  text-align: center;
  background: #3d5a80;
  padding: 50px;
  font-size: 20px;
}
#search-container {
  margin: 1em 0;
}
#search-container input {
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #293241;
  padding: 1em 0.3em;
}
#search-container input:focus {
  border-bottom-color: #3d5a80;
}
.search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #3d5a80;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}
.filter-button {
  border: 2px solid #3d5a80;
  padding: 1em 2.2em;
  border-radius: 1em;
  background-color: transparent;
  color: #3d5a80;
  cursor: pointer;
}
.catalog-button {
  padding: 0.6em 1em;
  margin: 0.6em;
  border-radius: 3em;
  background-color: #3d5a80;
  color: #ffffff;
  cursor: pointer;
}
#catalog input {
  padding: 0.6em 1em;
  color: #ffffff;
  text-align: center;
  border-radius: 5em;
  background-color: #5cc5f6;
  width: 30%;
}
.active {
  background-color: #3d5a80;
  color: #ffffff;
}
#catalog {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 1em;
  padding: 2em 0;
}
.card {
  background-color: #ddeaed;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.image-container {
  text-align: center;
}
img {
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}
.container {
  padding-top: 1em;
  color: #110f29;
}
.container h5 {
  font-weight: 500;
}
.hide {
  display: none;
}
@media screen and (max-width: 1180px) {
  img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }
  .card {
    max-width: 14em;
    margin-top: 1em;
  }
  #catalog {
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
  }
  #catalog input{
    margin-top: 1em;
    margin-left: 0.8em;
    width: 60%;
  }
}
